<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS333 Attendance</title>
    <link rel="stylesheet" href="dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <img src="./bg.jpg" alt="Background image">
        <div id="table">
            <table>
                <tr>
                    <td>
                        Reports for 5th Nov
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/11-05'">Get</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Reports for 12th Nov
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/11-12'">Get</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Reports for 19th Nov
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/11-19'">Get</button>
                    </td>
                </tr><tr>
                    <td>
                        Reports for 26th Nov
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/11-26'">Get</button>
                    </td>
                </tr><tr>
                    <td>
                        Reports for 3rd Dec
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/12-03'">Get</button>
                    </td>
                </tr><tr>
                    <td>
                        Reports for 10th Dec
                    </td>
                    <td>
                        <button onclick="window.location.href='/get/12-10'">Get</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>